.cart{
    display: flex;
    flex-direction: column;
}
.cart-items-item img{
   width: 80px;
}
.cart-items-item{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr;
}
.product details{
    display: flex;
    flex-direction: column;
}

.input-quantity{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
}

.cart-items{
    margin-top: 50px;
    padding: 10px;
}

.bin{
    width: auto !important;
    height: 20px;
    cursor: pointer;
}
.cart-topic{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-topic span{
    color: #7a7a7a;
}

.product-name{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.bar{
    margin: 10px;
    width: 100%;
}
.item-bar{
    width: 100px;
    height: 2px;
    background-color: black;
    margin-left: 10px;

}
.coupen{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 20px;
    margin-bottom: 150px;
    margin-top: 50px;
    
}
.add-coupen{
    width: 250px;
    height: 20px;
    margin: 10px;
}
.add-coupen input{
    width: 150px;
    height: 20px;
    border: 1px solid #000;
    padding: 10px;
}
.add-coupen button{
    padding: 4px;
    background-color: #7b7777;
    color: white;
    border: none;
}
.checkouts{
    margin: 20px;
    width: 180px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #000;
    border: none;
    cursor: pointer;
        
}

@media (max-width:950px) {
    .product-name{
        font-size: 12px;
    }
    .cart-items-item img{
        width: 40px;
    }
}

@media (max-width:750px) {
    .product-name{
        font-size: 10px;
        align-items: center;
        padding: 4px;
    }
    .cart-items-item img{
        width: 50px;
    }
    .cart-items-item{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;

    }
    .input-quantity{
        width: 40px;
        height: 20px;
    }
}