.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .loogo{
    width: 150px;
    height: 10px;
}

.navbar img{
    height: 35px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #2a2a2a;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right img{
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    background-color: #000000;
    border-radius: 50%;
    top: 15px;
    right: -1px;
    
    font-size: 12px;
}

.cart{
    color: white;
    text-align: center;
    
}
.navbar-profile{
    position: relative;
}

.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #20639B;
    outline: 2px solid white;
    list-style: none;
}

.navbar-profile-dropdown li{
    gap: 10px;
    cursor: pointer;
}

.navbar-profile-dropdown li:hover{
    color: #49557e;
}
.navbar-sidebar{
    display: none;
}

.navbar-menu hr{
    border: none;
    width: 80%;
    height: 2px;
    border-radius: 20px;
    background: #000000;
    margin: 0 auto;
}

.navbar-search{
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
        
}
.navbar-search.active{
    display: flex;
}
.navbar-search input{
    
    font-size: 16px;
    outline: none;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 6px;
    background-color: #fafafa;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 100%;
}

.search img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-color: #fff2ef;
    cursor: pointer;
    
}

@media (max-width:1050px) {
    .navbar .loogo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px  25px;
    }
}

@media (max-width:900px) {
    .navbar .loogo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
    
}

@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
    .navbar-sidebar{
        width: 8px;
        height: 8px;
        display: block;
        margin-top: -20px;
        margin-left: 15px;
    }
   
    .navbar-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #000;
        width: 40%;
        height: 100%;
        color: white;
        padding: 30px;
        font-size: 12px;
        gap: 30px;
    }

    .navbar-menu.active{
        display: flex;
    
    }
    .navbar-menu hr{
        width: 50px;
        margin: 0;
        margin-top: 5px;
    }

}