.logIn{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    animation: fadeIn 2s;
}
.login-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
}
.login-title{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #808080;
}
.login-title-bar{
    width: 30px;
    height: 2px;
    background-color: black;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #c9c9c9;
    background-color: #000;
    font-size: 15px;
    cursor: pointer;
}

.login-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-condition input{
    margin-top: 5px;
}

.logIn p span{
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.title-bar{
    display: flex;
    justify-content: space-between;
}
.cross-icon{
    cursor: pointer;
}
.login{
    display: flex;
    justify-content: space-between;
}