.list-container{
    margin: auto;
}
.list-topic-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#update{
    width: 25px;
    height: 25px;
    
    
}
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.75fr 0.75fr 1fr 1fr 0.75fr 0.5fr;
    gap: 15px;
    margin-top: 10px;
}
.list-table-format img{
    width: 50px;
    height: 60px;
}
.list-topic {
    display: flex;
}
.list-topic p{
    font-size: 22px;
    color: #7a7a7a;
}
.list-topic span{
    color: black;
}
.bar{
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.cursor{
    cursor: pointer;
}

@media (max-width:750px) {
    .list-table-format{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 14px;
    }
    .list-table-format img{
        width: 30px;
        height: 30px;
        margin: auto;
    }
    .list-table-format b{
        font-size: 12px;
    }
    .list-container{
        margin: auto;
    }
    .list-table-format p{
        margin: auto;
    }
}